<p>&nbsp;  </p>

<p>This week's homework is at: <br />
<a href="https://klasa.gitlab.io/homework">https://klasa.gitlab.io/homework</a>  </p>

<p>Previous week's homework: <br />
<a href="https://klasa.gitlab.io/previous_homework">https://klasa.gitlab.io/previous_homework</a>  </p>

<p>The text of the lessons is at <br />
<a href="https://klasa.gitlab.io/lesson">https://klasa.gitlab.io/lesson</a>  </p>

<p>Old lesson material:<br />
<a href="https://klasa.gitlab.io/lesson_old">https://klasa.gitlab.io/lesson_old</a>  </p>

<hr />

<p>List of irregular verbs in English, sort by the end of the past participle. <br />
<a href="https://klasa.gitlab.io/irregular_verbs">https://klasa.gitlab.io/irregular_verbs</a>  </p>

<p>Some latin loanwords in Polish: <br />
<a href="https://klasa.gitlab.io/loanwords">https://klasa.gitlab.io/loanwords</a>  </p>

<p>List of countable and uncountable nouns, and what determiners are used with them: <br />
<a href="https://www.engvid.com/english-resource/countable-and-uncountable-nouns">https://www.engvid.com/english-resource/countable-and-uncountable-nouns</a>  </p>

<p>Useful links  </p>

<p>Translators <br />
<a href="https://translate.google.com">https://translate.google.com</a> <br />
<a href="https://www.deepl.com/translator">https://www.deepl.com/translator</a>  </p>

<p>Dictionaries, thesaurus, etymology <br />
<a href="https://en.wiktionary.org">https://en.wiktionary.org</a> <br />
<a href="https://pl.wiktionary.org">https://pl.wiktionary.org</a> <br />
<a href="https://www.freethesaurus.com">https://www.freethesaurus.com</a>  </p>

<p>List of English grammar topics: <br />
<a href="https://www.learngrammar.net/english-grammar">https://www.learngrammar.net/english-grammar</a> <br />
<a href="https://en.wikibooks.org/wiki/English_Grammar">https://en.wikibooks.org/wiki/English_Grammar</a>  </p>

<p>This is a list of similar words in modern english, where one comes from old German and the other comes from Latin, for example: <br />
king vs royal <br />
ghost vs phantom <br />
freedom vs libery <br />
<a href="https://en.wikipedia.org/wiki/List_of_English_words_with_dual_French_and_Anglo-Saxon_variations">https://en.wikipedia.org/wiki/List<em>of</em>English<em>words</em>with<em>dual</em>French<em>and</em>Anglo-Saxon_variations</a>  </p>

<p>In this website, you can enter an english word, and it will give you a list of example sentences. <br />
<a href="https://skell.sketchengine.co.uk/run.cgi/skell">https://skell.sketchengine.co.uk/run.cgi/skell</a>  </p>

<p>Language learning programs: <br />
duolingo <br />
memrise <br />
anki  </p>
